venv/          # Ignora la carpeta del entorno virtual de Python
__pycache__/   # Ignora la carpeta donde Python guarda archivos compilados en caché
.vscode/       # Ignora configuraciones locales del editor Visual Studio Code
*.pyc          # Ignora archivos compilados de Python
